header {
    background-color: #0ad5f0;
    color: #131212;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
}

footer {
    background-color: #f3f0f0;
    color: #0c0c0c;
    padding: 1px;
    bottom: 0;
    width: 100%;
    text-align: center;
  }