body{
  background: #ffefd5 ;
}
.di{
  background: #fff;
  height: 50px;
  text-align: center;
  font-size: xx-large;
  width: 100%;
  font-family: "Baloo Da 2",cursive;
}
.as{
  text-align: center;
  font-size: large;
  background: #fff;
  width: 100%;
  font-family: "Baloo Da 2",cursive;
}
.inspiration{
  text-align: center;
  font-size:x-large ;
  background: #fff ;
  font: bold;
  color: #0e0d0d;
  height: 50px;
  width: 100%;
  font: bolder;
  height: 45px;
  font-family: "Baloo Da 2",cursive;
}
.hyperlink{
  background:#fff;
  text-align: center;
  width: 100%;
  height: 80px;
  font-family: "Baloo Da 2",cursive;
}