/* style.css */
  
header {
  background-color: #33363d;
  color: #ccc;
  padding: 2px;
  text-align: center;
  position: fixed;
  width: 100%;
}
  .tab ul, li, a{
    color: #ccc;
    text-decoration: none;
    padding: 2px;
    display: inline;
    margin: 0;
    list-style-type: none;
  }

  .images{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 10px; /* Gap between images */
    padding: 20px; /* Padding around the gallery */
    border: 3px solid #0c0c0c;
  }
  footer {
    background-color: #f3f0f0;
    color: #0c0c0c;
    padding: 1px;
    bottom: 0;
    width: 100%;
    text-align: center;
    }