/* style.css */

header {
  background-color: #33363d;
  color: #ccc;
  padding: 2px;
  text-align: center;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
  padding: 10px;
}
.home-content {
  /* margin: 10px; */
  padding: 10px;
  display: block;
  border-radius: 10px;
  border: 10px;
  background-color: rgb(29, 243, 243);
  font-size: 15px;
  width: 100%;
  
}
main {
  padding: 30px;
}

img {
  width: 10 px;
  height: 10 px;
  border: 0px solid #ccc;
  border-radius: 0px;
  

}

header img {
  margin-right: 15px;
}
footer {
  background-color: #f3f0f0;
  color: #0c0c0c;
  padding: 1px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

